<div class="container login ">
<div class="card">
  <div class="card-body">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :name %><br />
        <%= f.text_field :name, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <h4 class="my-4 text-large font-bold">Roles</h4>

      <div class="form-group">
        <%= f.check_box :developer, class:"form-group" %>
        <%= f.label :developer, "Use devjob.com as a developer?" %>
      </div>

      <div class="form-group">
        <%= f.check_box :employer, class:"form-group" %>
        <%= f.label :employer, "Use devjob.com as an employer?" %>
      </div>

      <div class="form-group">
        <%= f.submit "Sign up", class: "btn btn-sm btn-primary" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
</div>

