<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
        <% job.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, class: "label" %>
    <%= form.rich_text_area :title, size: '48', class: "input" %>
  </div>

  <div class="form-group">
    <%= form.label :description, class: "label" %>
    <%= form.rich_text_area :description, class: "input" %>
  </div>

  <div class="row ml-2">
    <div class="form-group">
      <%= form.label :company_name, class: "label" %> <br>
      <%= form.text_field :company_name, size: '48', class: "input" %>
    </div>

    <div class="form-group ml-4">
      <%= form.label :link_to_apply, class: "label" %> <br>
      <%= form.text_field :link_to_apply, size: '48', class: "input" %>
    </div>
  </div>

  <div class="row ml-2">
    <div class="form-group">
      <%= form.label :company_website, class: "label" %><br>
      <%= form.text_field :company_website, size: '48', class: "input" %>
    </div>

    <div class="form-group ml-4">
      <%= form.label :company_headquarters, class: "label" %> <br>
      <%= form.text_field :company_headquarters, size: '48', class: "input" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :company_description, class: "label" %>
    <%= form.rich_text_area :company_description, class: "input" %>
  </div>

  <div class="row ml-2">
    <div class="form-group  mr-4">
      <%= form.label :compensation_range, class: "label" %><br>
      <%= form.text_field :compensation_range, class: "input" %>
    </div>

    <div class="form-group mr-4">
      <%= form.label :years_of_experience, class: "label" %><br>
      <%= form.text_field :years_of_experience, size: '4', class: "input" %>
    </div>

    <div class="form-group">
      <br>
      <%= form.check_box :remote, class: "input" %>
      <%= form.label :remote, class: "label" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.submit class: "btn btn-sm btn-success font-weight-bold" %>
  </div>

<% end %>
