<div class="row">
  <div class="col-9">
    <h4><%= link_to job.title, job_path(job_id = job.id)   %></h4>
  </div>

  <div class=" d-flex items-right mx-3 mb-3">
    <%= render_svg "icons/pointer" %> <span class="ml-3"><%= job.description %></span>
  </div>


  <div class="col-3">
    <% if job.company_logo.attached? %>
      <%= image_tag job.company_logo, class: "w-28 h-28" %>
    <% end %>
  </div>
</div>

<div class="row">
  <h6 class="col-6">
    <strong><%= image_tag("icons/your_logo1.png", size: "30x30") %> <%= job.company_name %>  Company</strong>
  </h6>
  <p class="col-6">
    <strong>Headquarters</strong> <%= job.headquarters %>
  </p>
</div>

<div class="row">
  <p class="col-4">
    <strong>Salary Range:  </strong> <%= job.compensation_range %>
  </p>
  <p class="col-4">
    <strong>Desired Experience:  </strong> <%= job.years_of_experience %>
  </p>

  <p class="col-4">
    <strong class="list-inline">Location</strong>
    <% if job.remote?  %>
      Remote
    <% else %>
      <%= job.headquarters %>
    <% end %>
  </p>

</div>

<% if admin? %>
  <%= link_to 'Edit', edit_job_path(job) , class: "btn btn-sm btn-outline-dark mr-3" %>
  <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-sm btn-outline-danger" %>
<% end %>
<hr>


