<div class="container ml-4">

<h1>Jobs  <%= link_to 'New Job', new_job_path , class: "ml-4 btn btn-sm btn-outline-primary" %></h1>


    <% @jobs.each do |job| %>
      <%= link_to job.title, job_path(job_id = job.id)   %>

      <%= job.description %>
      <strong>Company:</strong> <%= job.company_name %>
      <strong>Headquarters</strong> <%= job.headquarters %>
      <br>

      <strong>Salary Range:  </strong> <%= job.compensation_range %>
      <strong>Location</strong>
      <% if job.remote?  %>
        Remote
      <% else %>
        <%= job.headquarters %>
      <% end %>
      <strong>Desired Experience:  </strong> <%= job.years_of_experience %>
      <strong>User Id:</strong>   <%= job.user_id %>
      <br>

      <%= link_to 'Show', job %>
      <%= link_to 'Edit', edit_job_path(job) %>
      <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %>
      <hr>
    <% end %>



<br>


</div>
