<div class="container">
<%= content_for :hero do %>

    <div class=" flex flex-wrap text-center text-white bg-danger ml-4 ">
      <h1 class="font-weight-bold pt-3 p-2">Find a Ruby on Rails developer</h1>
      <p class="font-weight-bold">The internet's resource for Ruby on Rails developers</p>
      <%= link_to "Find a developer", "#" ,  class: "btn btn-sm btn-outline-light border rounded mr-3  mb-4" %>
      <%= link_to "Find a job", "#" ,  class: "btn btn-sm btn-secondary px-4 border border-dark rounded mb-4" %>
      <%= link_to "Community portal", "#" ,  class: "btn btn-sm btn-light border border-dark rounded ml-3 mb-4" %>
    </div>
  </div>
<% end %>


  <%= render @jobs %>


</div>
