<div class="flex items-right border border-danger rounded mb-4 nav-bar">

  <%= link_to root_path, class:"change-my-color" do %>
    <%= render_svg "icons/railsdevs-mark", title: "devjob.com", styles: "" %>
    <span class="ml-2 mr-4 font-weight-bold fs-2 text-danger">devjob</span>
  <% end %>

  <% if user_signed_in? %>
    <%= link_to "My account", edit_user_registration_path, class: "btn btn-sm btn-outline-dark mr-4" %>
    <%=  link_to "Logout", destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-primary mr-4" %>
    <span class="nav-bar-extras text-end">
      Welcome <%= current_user.email %> #<%= current_user.id %>
    </span>
  <% else %>
    <%= link_to "Login", new_user_session_path, class:"btn btn-sm btn-outline-primary" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-sm btn-outline-primary" %>
  <% end %>
</div>

